.sidenav-container {
  min-height: calc(100vh - 64px);
  height: auto;
  margin-top: 64px;
}

mat-sidenav {
  width: 250px;
  padding: 16px;
  border-right: 1px solid #e0e0e0;
  bottom: 0;
  left: 0;
  border-radius: 0;
  z-index: 2;
  transition: width 0.3s ease, transform 0.3s ease;
  overflow-y: auto;
}

mat-sidenav.minimized {
  width: 80px;
}

mat-sidenav-content {
  padding: 30px;
  transition: margin-left 0.3s ease;
  overflow: auto;
  height: calc(100vh - 64px - 60px);
}

.content {
  min-height: 100%;
}
